* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090c17;
}

.right-button-container .left-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

h2{
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
    border-radius: 12.5px;
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

h2:hover {
    background-color: #242a3d;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 5px;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: #181d2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
}

.btn:hover {
    background-color: #242a3d;
}

.btn:active {
    background-color: #12161e;
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}